page-home {

    h3{
        text-align: center;
    }

    .cabecera {
        margin-top: 8px;
        height: 27px;
    }

    .botones{
        text-align: center;
        width: 300px;
    }

    ion-icon{
        font-size: 40px;
        vertical-align: left;
    }

}


